#App {
  width: 100%;
  height: 100%;

  overflow-x: hidden;
  background: {
    // image: url("assets/pictures/bg-image.webp");
    position: center;
    size: cover;
    repeat: no-repeat;
  }
}

.authenticated-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  //   justify-content: center;
  height: 100vh;
}
