.stake{
    background-color: pink;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 250px;
    align-items: flex-end;
    justify-content: end;
    /*padding-bottom: 5px;
padding-right: 5px;*/
    
}
.stake p {
    float: right;
    padding-bottom: 10px;
    padding-right: 5px;
    font-weight: bold;
}
.prcnt {
    background-color: rgb(215, 61, 61);
   border: 1px solid rgb(80, 70, 70);
    color: white;
    text-align: center;
    width: 50px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    
}
.prcBtn {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.prcBtn p {
      
    border: 1px solid black;
    justify-content: center;
    text-align: center;
    
   
}