// Colors
$backgroundColor: #fffcff;
$defaultColor: #50514f;
$secondColor: #a9e5bb;

// Shadow effect
$boxshadow: 10px 10px 0 -2px #e0f134, 10px 10px 0 0 black;
$boxshadowActive: 8px 8px 0 -1px #e0f134, 8px 8px 0 0 black;

// Spacing
$spacing: 20px;

// shape
$border: 1px solid $defaultColor;
$borderRadius: 4px;
