@import "style/_config.scss";

.box {
  background-color: $backgroundColor;
  border-radius: $borderRadius;
  border: $border;
  color: $defaultColor;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.42857143;
  margin: 10px;
  padding: 1em 1em;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  // user-select: none;
  vertical-align: middle;

  &--shadow {
    box-shadow: $boxshadowActive;
  }
}
